In [2]:
! ls

README.md            calendar.csv         reviews.csv
a look at data.ipynb listings.csv         seattle.zip

In [9]:
import pandas as pd 
import numpy as np 

calendar_df = pd.read_csv("./calendar.csv")
reviews_df = pd.read_csv("./reviews.csv")
listing_df = pd.read_csv("./listings.csv")

### look at shape, type and detail

In [13]:
print("calendar_df.shape", calendar_df.shape)
print("reviews_df.shape", reviews_df.shape)
print("listing_df.shape", listing_df.shape)

calendar_df.shape (1393570, 4)
reviews_df.shape (84849, 6)
listing_df.shape (3818, 92)

In [8]:
reviews_df.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [11]:
listing_df.dtypes

id                                    int64
listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
thumbnail_url                        object
medium_url                           object
picture_url                          object
xl_picture_url                       object
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                 object
host_is_superhost                    object
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
host_listings_count                 float64
                                     ...
guests_included                       int64
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                     object
availability_30                       int64
availability_60                       int64
availability_90                       int64
availability_365                      int64
calendar_last_scraped                object
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                             float64
jurisdiction_names                   object
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 92, dtype: object

In [12]:
listing_df.dtypes.value_counts()

object     62
float64    17
int64      13
dtype: int64

In [31]:
calendar_df.head(50)

    listing_id        date available   price
0       241032  2016-01-04         t  $85.00
1       241032  2016-01-05         t  $85.00
2       241032  2016-01-06         f     NaN
3       241032  2016-01-07         f     NaN
4       241032  2016-01-08         f     NaN
5       241032  2016-01-09         f     NaN
6       241032  2016-01-10         f     NaN
7       241032  2016-01-11         f     NaN
8       241032  2016-01-12         f     NaN
9       241032  2016-01-13         t  $85.00
10      241032  2016-01-14         t  $85.00
11      241032  2016-01-15         f     NaN
12      241032  2016-01-16         f     NaN
13      241032  2016-01-17         f     NaN
14      241032  2016-01-18         t  $85.00
15      241032  2016-01-19         t  $85.00
16      241032  2016-01-20         t  $85.00
17      241032  2016-01-21         f     NaN
18      241032  2016-01-22         f     NaN
19      241032  2016-01-23         f     NaN
20      241032  2016-01-24         t  $85.00
21      241032  2016-01-25         t  $85.00
22      241032  2016-01-26         t  $85.00
23      241032  2016-01-27         t  $85.00
24      241032  2016-01-28         t  $85.00
25      241032  2016-01-29         f     NaN
26      241032  2016-01-30         f     NaN
27      241032  2016-01-31         f     NaN
28      241032  2016-02-01         t  $85.00
29      241032  2016-02-02         t  $85.00
30      241032  2016-02-03         t  $85.00
31      241032  2016-02-04         t  $85.00
32      241032  2016-02-05         t  $85.00
33      241032  2016-02-06         t  $85.00
34      241032  2016-02-07         t  $85.00
35      241032  2016-02-08         t  $85.00
36      241032  2016-02-09         t  $85.00
37      241032  2016-02-10         t  $85.00
38      241032  2016-02-11         f     NaN
39      241032  2016-02-12         f     NaN
40      241032  2016-02-13         f     NaN
41      241032  2016-02-14         t  $85.00
42      241032  2016-02-15         t  $85.00
43      241032  2016-02-16         t  $85.00
44      241032  2016-02-17         t  $85.00
45      241032  2016-02-18         t  $85.00
46      241032  2016-02-19         t  $85.00
47      241032  2016-02-20         t  $85.00
48      241032  2016-02-21         t  $85.00
49      241032  2016-02-22         t  $85.00

In [32]:
reviews_df.head(20)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
5,7202016,43979139,2015-08-23,1154501,Barent,"Kelly was great, place was great, just what I ..."
6,7202016,45265631,2015-09-01,37853266,Kevin,Kelly was great! Very nice and the neighborhoo...
7,7202016,46749120,2015-09-13,24445447,Rick,hola all bnb erz - Just left Seattle where I h...
8,7202016,47783346,2015-09-21,249583,Todd,Kelly's place is conveniently located on a qui...
9,7202016,48388999,2015-09-26,38110731,Tatiana,"The place was really nice, clean, and the most..."
10,7202016,49441269,2015-10-04,39852826,Tim,"The place was really nice, clean and quiet at ..."
11,7202016,50490194,2015-10-12,384855,Tony,The listing was exactly as described! Kelly's...
12,7202016,53862449,2015-11-13,21607838,Jason,Very welcoming and a nicer place to live in th...
13,7202016,54562283,2015-11-21,17052263,Don,"Great location, great price, great host! Thank..."
14,7202016,55212826,2015-11-29,4774006,Vivian,Staying at Kelly's was easy. The location was ...
15,7202016,58268184,2016-01-02,41297839,Travis,Kelly was an amazing host who made the stay ve...
16,3946674,20798623,2014-10-05,9313038,Angeline,"Despite our late booking request, Rachel & Jon..."
17,3946674,21224862,2014-10-13,8385649,Celine,Rachel & Jon have a nice house closed to downt...
18,3946674,22877803,2014-11-16,9403201,Rémy,Rachel and Jon have been the perfect hosts for...
19,3946674,22938377,2014-11-17,2920596,Jason,This house was a delightful bright place to st...

In [33]:
listing_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

### Find relations between three files

In [16]:
reviews_df.listing_id.unique().shape

(3191,)

In [17]:
calendar_df.listing_id.unique().shape

(3818,)

In [18]:
listing_df.id.unique().shape

(3818,)

In [27]:
(~reviews_df.listing_id.isin(listing_df.id.unique())).sum()

0

In [28]:
(~calendar_df.listing_id.isin(listing_df.id.unique())).sum()

0

In [29]:
(~reviews_df.listing_id.isin(calendar_df.listing_id)).sum()

0

In [34]:
listing_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')